SUPABASE_URL=###
SUPABASE_KEY=###
#Tylko do testów: organizator może wpisać wynik przed rozpoczęciem meczu. Na produkcji nie ustawiać.
#RESULTS_BEFORE_KICKOFF=true
#Dostawca API piłkarskiego, dostęp do danych o meczach, drużynach i ligach https://apifootball.com/
APIFOOTBALL_KEY=###